.grad1 {
    background: #12c2e9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

.grad2 {
      background: #009fff; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #009fff, #ec2f4b); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #009fff, #ec2f4b); /
 }


.list a {
    background: #FFB76B;
    background: -webkit-linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
    background: -moz-linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
    background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.list p {
    color: white;
    font-size: 0.95rem;
}

.kis-carousel-control {
    height: 100px;
    top: 50%;
}

.list em {
    color: white;
    font-size: 0.95rem;
}

.info p {
    font-size: 0.88rem;
    color: black;
}

.info a {
          background: #FFB76B;
          background: -webkit-linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
          background: -moz-linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
          background: linear-gradient(to right, #FFB76B 0%, #FFA73D 30%, #FF7C00 60%, #FF7F04 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

}

.centered {
    text-align: center;
}

.header_padding {
    padding-top: 50px;
}

.grad_text {
    background: #F6F8F9;
    background: -webkit-radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #E5EBEE 30%, #D7DEE3 60%, #F5F7F9 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #E5EBEE 30%, #D7DEE3 60%, #F5F7F9 100%);
    background: radial-gradient(circle farthest-corner at center center, #F6F8F9 0%, #E5EBEE 30%, #D7DEE3 60%, #F5F7F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 0px solid black;
  background-image: none;
  opacity: 50%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}